[submodule "nvim"]
	path = nvim
	url = git@github.com:WhiColMi/nvim-config.git
[submodule "qutebrowser"]
	path = qutebrowser
	url = git@github.com:WhiColMi/qute-config.git
[submodule "lf"]
	path = lf
	url = git@github.com:WhiColMi/lf-config.git
[submodule "waybar"]
	path = waybar
	url = git@github.com:WhiColMi/waybar-config.git
[submodule "rofi"]
	path = rofi
	url = git@github.com:WhiColMi/rofi-config.git
[submodule "hypr"]
	path = hypr
	url = git@github.com:WhiColMi/hypr-config.git
[submodule "alacritty"]
	path = alacritty
	url = git@github.com:WhiColMi/alacritty-conf.git
[submodule "theming"]
	path = theming
	url = git@github.com:WhiColMi/theming-config.git
[submodule "ghostty"]
	path = ghostty
	url = git@github.com:WhiColMi/ghostty-config.git
[submodule "yazi"]
	path = yazi
	url = git@github.com:WhiColMi/yazi-config.git
[submodule "tmux"]
	path = tmux
	url = git@github.com:WhiColMi/tmux-config.git
[submodule "quickshell"]
	path = quickshell
	url = git@github.com:WhiColMi/quickshell-config.git
